
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env
.env.local
.env.production
.idea

.vercel

sendgrid.env

# Serverless
.serverless
functions/node_modules

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Serverless
.serverless
.aws/config
functions/node_modules

#Playwright Tests
/test-results/
/test-screenshots/
/playwright-report/
/blob-report/
/playwright/.cache/

# Serverless
.serverless
.aws/config

.tina/__generated__
sendgrid.env
